body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #b2bec4;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    color: rgb(221, 223, 224);
    position: absolute;
    top: 5px;
    left: 50px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(135, 140, 145);
    position: absolute;
    top: 70px;
    left: 50px;
}

#logo {
    position: absolute;
    top: 50px;
    right: 2%;
    opacity: 20%;
}

#blurb {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #606060; /* Adjust the text color as needed */
    position: absolute;
    top: 60px; /* Adjust the top position as needed */
    left: 1500px; /* Fixed left edge position relative to mainDiv */
    right: 2%; /* Adjust the right edge position as needed (5% from the right edge of the window) */
    z-index: 99;
}

#mainDiv {
    width: 1280px;
    height: 740px;
    background: url('images/background.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 20px;
    border: 3px solid #d8d9da;
    position: absolute;
    top: 150px;
    left: 230px;
}

.coords_but {
    width: 50px;
    height: 50px;
    background: url('images/button_image.png');
    background-size: cover;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    z-index: 99;
}

.coords_but::before {
    display: block;
    width: 100%;
    height: 100%;
    background: url('images/button_image.png');
    background-size: cover;
    filter: drop-shadow(-2px 2px 2px rgba(0, 0, 0, 0.3)); /* Shadow for the image */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: filter 0.2s; /* Add a transition effect for the filter property */
}

.coords_but:hover {
    filter: brightness(1.2); /* Increase brightness on hover */
}

.coords_but:hover .popup {
    display: block;
}

/* Example button positions, adjust top and left as needed */
.coords_but:nth-child(1) {
    background-position: 0 0;
    top: 100px;
    left: 100px;
}

.coords_but:nth-child(2) {
    background-position: -50px 100px;
    top: 100px;
    left: 200px;
}

.coords_but:nth-child(3) {
    background-position: -100px 200px;
    top: 200px;
    left: 100px;
}

.coords_but:nth-child(4) {
    background-position: -150px 300px;
    top: 200px;
    left: 200px;
}

.popup {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: none;
    white-space: nowrap;
    transform: translate(-50%, -150%);
    left: 50%;
}

.popup-large {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 700px;
    height: 450px;
    background-color: #8c98a1;
    color: #c6cbcf;
    padding: 30px;
    border-radius: 20px;
    display: none;
    transform: translate(-11%, -1%);
    left: 170%;
}

/* Add styles for the new button container */
.pictogram_grp {
    position: fixed;
    left: 50px; /* Adjust the left position as needed */
    top: 150px; /* Adjust the top position as needed */
    display: flex;
    flex-direction: column;
    z-index: 999;
}

/* Add styles for the new buttons */
.picto {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border: 3px solid #d8d9da;
    background-size: cover;
    cursor: pointer;
    margin-bottom: 10px; /* Adjust the margin between buttons as needed */
}

.picto:hover {
    filter: brightness(1.1); /* Increase brightness on hover */
}

.picto:hover .popup-large {
    display: block;
}

/* Example button positions */
.picto:nth-child(1) {
    background-image: url('images/pictos-brand.png');
}

.picto:nth-child(2) {
    background-image: url('images/pictos-wayfinding.png');
}

.picto:nth-child(3) {
    background-image: url('images/pictos-landscape.png');
}

.picto:nth-child(4) {
    background-image: url('images/pictos-facades.png');
}

.picto:nth-child(5) {
    background-image: url('images/pictos-amenity.png');
}

/* Styling for the imageWindow */
.imageWindow {
    position: fixed;
    top: 150px;
    right: 2%;
    width: 570px; /* Adjust the width as needed */
    height: 700px; /* Adjust the height as needed */
    background-color: #8c98a1;
    border: 15px solid #e2e2e2;
    border-radius: 10px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    overflow: hidden;
    z-index: 999;
}

.imageWindow img {
    max-width: 100%;
    max-height: 60%; 
}

.imageWindow p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    padding-left: 20px;
    text-align: left;
}

.copyright {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #858c8f; /* Adjust the text color as needed */
    position: absolute;
    top: 900px; /* Adjust the distance from the bottom as needed */
    left: 1427px; /* Adjust the distance from the left as needed */
}
